.App {
  display: flex;
  flex-direction: column;
  text-align: center;

}
.sorok{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap:30px;
}


@media screen and (max-width:768px){
  .App{
    display: flex;
    flex-wrap: wrap
  }
  .sorok{
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
}
;
